Package: com.ashman.clockhide
Name: Lockscreen Clock Hide
Version: 1.9.0.0
Architecture: iphoneos-arm
Description: Hide the clock on the lock screen.
Homepage: http://modmyi.com/info/clockhide.php
Depiction: http://modmyi.com/info/clockhide.d.php
Maintainer: poetic_folly <poetic_folly@modmyi.com>
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Section: Tweaks
Pre-Depends: mobilesubstrate, preferenceloader
